a { text-decoration:none; color:#006400;}
a:hover { color: #009d00; text-decoration:underline;}
a.ui-slider-handle { background-color:red; color:red; display:block; width:0.5em; height:1em; top:-.25em; position:absolute; }
body * {font-family:Gill,Helvetica, sans; }
label { cursor:pointer; }

#chart { visibility:hidden; background-color:#d5e5f0;cursor:move;position:relative; border:1px dotted red;}
#chartCanvas { z-index:0; position:absolute; }
#chartContainer { width:62.5em; height:25em; border:2px solid black; overflow:hidden; position:relative;float:left;}
#chartPreview { position:absolute; border:1px dotted red; }
#chartPreviewContainer { margin-left:63em;border:2px solid black;width:13em;height:13.25em;/*overflow:hidden;*/position:relative;}
#controls{ color:#567; }
#controls p { display:inline; float:left; line-height:0.5em;}
#info {display:none;position:absolute;z-index:10;width:17em;right:2em;top:2em;font-size:95%;background-color:white;padding:0.7em;}
#links { margin-left:5em;margin-top:3em; font-size:110%; color:#567; }
#links ul li { list-style-type:none;}
#slider { float:left; display:inline;}
#wait { text-align:center; font-size:200%;line-height:15em; color:#567; }

.couple {width:9em;padding:0.4em;border:1px solid blue;font-size:60%;position:relative;z-index:2;background-color:#dee6f5;cursor:pointer;}
.blank-couple { background-color:transparent;border:none; opacity:0;filter:alpha(opacity=0);}
.blank-couple:hover { border: 1px dashed blue; opacity:1;filter:alpha(opacity=100);}
.female span { background: url('http://dev.sharingtime.com/panels/tree/img/gender.png') top left no-repeat; }
.hover { background-color:#dcecf3; }
.individual { z-index:3 }
.male, .female { padding: 5px; }
.male span, .female span { display: block;float: left;width: 16px;height: 12px;margin-right: 1px; }
.male span { background: url('http://dev.sharingtime.com/panels/tree/img/gender.png') top right no-repeat; }
.male:hover, .female:hover { background-color: #a9daf1;border-top-left-radius: 5px;border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-webkit-border-radius-top-left: 5px;-moz-border-radius-topright: 5px;-webkit-border-radius-top-right: 5px;}
.preview { background:transparent; border:2px solid yellow; cursor:move;z-index:50;}
.previewCouple {border:1px solid blue;width:2em;height:1em;}
.selected { background-color:#fff9b5; }
.ui-slider { height:0.5em; width:15em;background-color:gray;position:relative;border:1em solid white; }
