label { cursor:pointer; }
#chartContainer { width:auto; height:600px; overflow:hidden; position:relative; cursor:move; }
#chart { visibility:hidden; cursor:move;position:relative;}
#chartCanvas { z-index:0; position:absolute; }
#controls{ color:#567; }
#info {display:none;position:absolute;z-index:10;width:17em;right:2em;top:2em;font-size:95%;background-color:white;padding:0.7em;}
#wait { text-align:center; font-size:200%;line-height:15em; color:#567; }
#links { margin-left:5em;margin-top:3em; font-size:110%; color:#567; }
#links ul li { list-style-type:none;}
.couple {position:relative;z-index:1;background-color:#dee6f5;cursor:pointer;}
.individual { }
.selected { background-color:#fff9b5; }
.hover { background-color:#dcecf3; }
._jsPlumb_connector{z-index:0;}
._jsPlumb_connector, _jsPlumb_endpoint{visibility:hidden;}

/* Gender Icons & Profile pics */
.male, .female {
	padding: 5px;
}
.male span, .female span {
	display: block;
	float: left;
	width: 16px;
	height: 12px;
	margin-right: 1px;
}
.male span {
	background: url('http://dev.sharingtime.com/panels/tree/img/gender.png') top right no-repeat;
}
.female span {
	background: url('http://dev.sharingtime.com/panels/tree/img/gender.png') top left no-repeat;
}

.male:hover {
	background-color: #a9daf1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-radius-top-left: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius-top-right: 5px;
}
.female:hover {
	background-color: #a9daf1;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottom-left: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottom-left: 5px;
}







#info {
	display:none;
	z-index:10;
	width:18em;
	height: 200px;
	font-size:95%;
	padding:0.7em;
	position: relative;
}
#wait {
	text-align:center;
	font-size:200%;
	color:#567;
	line-height: 600px;
}
.couple {
	width:15em;
	border:1px solid #c2bdaf;
	z-index:1;
	background-color:#eeeeee;
	cursor:pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:2px 2px 4px #aaa;
	-webkit-box-shadow:2px 2px 4px #aaa;
	-moz-box-shadow: 2px 2px 4px #aaa;
	overflow: hidden;
	text-wrap: none;
	position: relative !important;
}
#couple_0 {
	border-color: #aca89c;
}
.individual {}
.male {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;	
}
.female {
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;

}
.blank-couple { 
	border-style: dashed; 
    opacity: .7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);	
}
.selected {
	background:#fff9b5;
}
.focus {
	background: #f8f8f8;
	border-color: #666;
}

.hover {
	background-color:#dcecf3;
}
#pedigree {
	height: 600px;	
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	overflow:hidden;	
	width: auto;
}
#pedigree #tree_view {
	width: 100%;
	cursor: move !important;	
	visibility: hidden;	
	border: 1px solid #333;
}
#page_wrapper #page-content #page-content-wrapper {
	background-image:none!important;
	padding:0!important;
}
/* Gender Icons & Profile pics */
.male, .female {
	padding: 5px;
	
}
.male span, .female span {
	display: block;
	float: left;
	width: 16px;
	height: 12px;
	margin-right: 1px;
}
.male span {
	background: url('http://dev.sharingtime.com/panels/tree/img/gender.png') top right no-repeat;
}
.female span {
	background: url('http://dev.sharingtime.com/panels/tree/img/gender.png') top left no-repeat;
}
.male:hover, .female:hover {
	background-color: #a9daf1;
}
.unselectable {
    user-select: none; /* CSS3 */
    -moz-user-select: none;
    -khtml-user-select: none;
}
#chartPreviewContainer { 
	border: 1px solid #eee;
	background: #f8f8f8;
	z-index: 900;
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	width:13em;
	height:8.25em;
	padding:0.5em;
	overflow:hidden;
	position:absolute;
	bottom: 20px;
	right: 20px;
	box-shadow:2px 2px 4px #ccc;
	-webkit-box-shadow:2px 2px 4px #ccc;
	-moz-box-shadow: 2px 2px 4px #ccc;	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#chartPreview {
	position:absolute;
}
.preview { 
	background:#fdf0bc; 
    opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	border:1px solid #d94b2e; 
	cursor:move;
	z-index:0;
}
.previewCouple {
	border:1px solid #bbb;
	width:2em;
	height:1em;
}